/****************
** COLOR CONFIG *
*****************/
$clr__font-dark: #333339;
$clr__font-white: #fff;
$clr__font-disabled: #99999C;

$clr__green-normal: #00D2A0;
$clr__green-hover: #33DBB3;
$clr__green-active: #00C797;

$clr__gold-normal: #CCAC50;
$clr__gold-hover: #D6BC73;
$clr__gold-active: #C1A34B;

$clr__orange-normal: linear-gradient(90deg, #EE3E7E 0%, #F15922 100%);
$clr__orange-hover: linear-gradient(90deg, #F16690 0%, #F3755C 100%);
$clr__orange-active: linear-gradient(90deg, #E14062 0%, #E3502C 100%);

$clr__bg-disabled: #CCCCCD;
$clr__primary: #164396;
$font__size: 14px;
$padding: 12px 16px;


/****************
** CLASS STYLES *
*****************/
.xls__button {
	position: relative;
	display: inline-block;
	overflow: hidden;
	appearance: none;
	border: 0;
	outline: 0;
	text-align: center;
	padding: $padding;
	min-width: 208px;
	cursor: pointer;
	font-size: $font__size;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
	text-transform: uppercase;

	&.btn--lang {
		background-color: transparent;
		z-index: 1000;
		font-weight: bold;
		font-family: 'MuseoSans300';
		border: 2px solid #fff;
		color: #fff;
		margin: 0;
		width: 40px;
		

		&.btn--left{
			border-radius: 5px 0px 0px 5px;
			border-right: none;
		}

		&.btn--right{
			border-radius: 0px 5px 5px 0px;
			border-left: none;
		}

		&.active {
			color: $clr__primary;
			background-color: #fff;
		}
	}

	&.button--prepaid {
		color: $clr__font-dark;

		&.button--green {
			background-color: $clr__green-normal;

			&:hover {
				background-color: $clr__green-hover;
			}

			&:active {
				background-color: $clr__green-active;
			}
		}

		&.button--orange {
			color: $clr__font-white;
			background: $clr__orange-normal;

			&:hover {
				background: $clr__orange-hover;
			}

			&:active {
				background: $clr__orange-active;
			}
		}
	}

	&.button--postpaid {
		color: $clr__font-dark;
		background-color: $clr__gold-normal;

		&:hover {
			background-color: $clr__gold-hover;
		}

		&:active {
			background-color: $clr__gold-active;
		}
	}

	&.button--block {
		display: block;
		width: 100%;
		margin: 0;
	}

	&[disabled] {
		background: $clr__bg-disabled !important;
		color: $clr__font-disabled;
		cursor: not-allowed;

		&:hover {
			background: $clr__bg-disabled !important;
		}
	}

	&:focus {
		outline: none;
	}

	&.button--auto {
		min-width: auto;
		padding: 12px 8px;
	}
}
