<div *ngIf="isVisible">
	<div class="modal-container">

		<div class="modal-content">

			<div class="modal-header">
				<h3 class="dark-heading-three" id="comp-modal-title">{{title}}</h3>
			</div>
			<div class="modal-body">
				<p class="dark-body-text" [innerHTML]="subtitle" id="comp-modal-body-text"></p>
			</div>

			<div class="modal-button-container" *ngIf="type === 'oneAction' ">
				<button block (click)="buttonOnePress()" class="btn-full no-top-border-radius" [ngClass]="{'btn-red': redButton, 'btn-primary': !redButton}" id="comp-modal-button">
					{{buttonOneText}}
				</button>
			</div>

			<div class="modal-button-container two-action-container no-top-border-radius" *ngIf="type === 'twoActions'">
				<button (click)="buttonOnePress()" class="btn-white left-button-border-radius" id="comp-modal-button-left">
					{{buttonOneText}}
				</button>
				<button (click)="buttonTwoPress()" class="right-button-border-radius" [ngClass]="{'btn-red': redButton, 'btn-primary': !redButton}" id="comp-modal-button-right">
					{{buttonTwoText}}
				</button>
			</div>

			<div class="modal-button-container" *ngIf="type === 'longAction'">
				<button block (click)="buttonOnePress()" class="btn-white" id="comp-modal-button-1">
					{{buttonOneText}}
				</button>
				<button block (click)="buttonTwoPress()" class="btn-red" id="comp-modal-button-2">
					{{buttonTwoText}}
				</button>
			</div>
		</div>

	</div>
</div>
