@import '../variables.scss';

@mixin button-settings($hight,  $mrgTopBottom, $mrgLeftRight, $fontSize, $textColor: #fff){
	height: $hight;
	width: 100%;
	margin: $mrgTopBottom $mrgLeftRight;
	font-size: $fontSize !important;
	color: $textColor !important;
	font-family: sans-serif;
	text-align: center;
	border: none;
	border-radius: 4px;
	position: relative;
	z-index: 1;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: none;
    padding: 12px 16px;
    &:focus{
    	outline: none;
    }
}

$_input-error-focus: #C40D42;
$_input-error-focus_hover: #CF3D67;
$_input-error-focus_focus: #BA0C3E;

.left-button-border-radius {
	border-radius: 0px 0px 0px 2px !important;
}

.right-button-border-radius {
	border-radius: 0px 0px 2px !important;
}

button {
	&.button {
		display: block;
		appearance: none;
		border: 0;
		outline: 0;
	}
}

.btn-white{
	@include button-settings(48px, 0px, 0px, 14px, #333339);
	background: #f2f2f2;
	border-radius: 0;
	&:before{
	  content:"";
	  display: inline-block;
      background: url(assets/images/btn-modal-shadow.png);
	  background-size: cover;
	  background-repeat: no-repeat;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
}

.btn-red{
	@include button-settings(48px, 0px, 0px, 14px, #fff);
	background: #C40D42;
	border-radius: 0;
	&:hover{
		background: $_input-error-focus_hover;
	}
	&:focus{
		background: $_input-error-focus_focus;
	}
}

.btn-primary{
	@include button-settings(48px, 0px, 0px, 14px, #333339);
	// background: #00D2A0;
	background: var(--primary-one);
	border-radius: 0;
}
