@font-face {
    font-family: 'FSJoey';
    src: url('/assets/fonts/FSJoey-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans700';
    src: url('/assets/fonts/MuseoSans_700.otf');
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('/assets/fonts/MuseoSans_500.otf');
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans300';
    src: url('/assets/fonts/MuseoSans-300.otf');
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans100';
    src: url('/assets/fonts/MuseoSans-100.otf');
    font-style: normal;
}

@font-face {
    font-family: 'AxiataBold';
    src: url('/assets/fonts/AxiataBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'AxiataBook';
    src: url('/assets/fonts/AxiataBook.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'AxiataBookItalic';
    src: url('/assets/fonts/AxiataBookItalic.ttf');
    font-style: normal;
}

@font-face {
    font-family: "AxiataMedium";
    src: url('/assets/fonts/AxiataMedium.ttf');
    font-style: normal;
}

.no--margin {
	margin: 0;
}

.margin--xs {
	margin-top: 5px;
	margin-bottom: 0;
}

.no--underline {
    text-decoration: none;
}
.font--sm {
	font-size: 12px;
}

// .title {
// 	font-size: 18px;
// 	margin-bottom: 0;

// 	&.txt--sm {
// 		font-size: 16px;
// 	}
// }

// .date {
// 	font-size: 12px;
// }

// .size-10 {
// 	font-size: 10px;
// }

// .size-14 {
// 	font-size: 14px;
// }

// .right {
//     text-align: right;
// }
