@import '../variables.scss';

@mixin inputfocus($focusBorder){
	border: 1px solid $focusBorder;
}

@mixin inputfocusIconSettings($_triangleColor){
	content: '';
	display: inline-block;
	position: absolute;
    // top: 20px;
    margin-top: -49px;
	left: 15px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $_triangleColor;
}

@mixin typography($color, $fontSize, $family){
	color: $color !important;
	font-size: $fontSize !important;
	font-family: $family;
}

input[type=text] {
    /* Remove First inner shadow ios*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-container {
	position: relative;
	width: 100%;
    margin: 8px 0;

    &:focus-within {
        .main-input{
            @include inputfocus($_input-focus);
        }

        .focus-emelemt {
            &:before{
                @include inputfocusIconSettings($_input-focus);
            }
        }
        .input-icon{
            display: none;
        }
    }
}

.input-container {
    &.error {
        .main-input{
            @include inputfocus($_input-error-focus);
            border-radius: 2px 2px 0 0;
        }

        .focus-emelemt {
            &:before{
                @include inputfocusIconSettings($_input-error-focus);
                margin-top: -49px !important;
            }
        }

        .warning-message {
            color: #fff;
            display: block;
            background: $_input-error-focus;
            padding: 5px 16px;
            margin: 0;
        }

        .input-icon{
            display: none;
        }
    }
}

.input-container {
    &.disabled {
        .main-input{
            cursor: not-allowed;
            background: $_primary-disable;
        }

        .warning-message {
            color:$_text-color;
            display: block;
            margin-left: 0px;
        }
    }
}

.input-container-side{
	display: inline-block;
	margin-right: 8px;
}

.input-label{
	display: block;
	margin: 0;
	@include typography($_text-color, 14px, sans-serif);
}

.main-input {
	background-color: #fff;
	padding: 16px 48px 16px 16px;
	height: 50px;
	width: 100%;
	border-radius: 2px;
	font-size: 14px;
	font-family: 'MuseoSans-300', sans-serif;
	color: $_text-color;
	border: 1px solid transparent;
	margin-top: 5px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	&::placeholder{
		color: $_text_disabled-color;
	}
	&:focus+.input-icon{
		display: none;
	}
}

.warning-message {
	display: none;
	font-size: 10px;
	font-family: 'MuseoSans-300';
	margin: 4px 0;
}

.otp-input-single {
    // letter-spacing: 42px;
    background-image: url('/assets/icon/otp-under.svg');
    background-position: 10px 40px;
    background-repeat: no-repeat;
	background-color:transparent;
	// border: 1px solid transparent;
    // width: 385px;
	padding: 16px 16px;
    // border-radius: 2px;
    border: none;
    width: 16.4%;
    display: inline-block;
    text-align: center;
    outline: none;
}

.otp-input-wrapper {
	padding: 0px;
    // max-width: 320px;
    // max-width: 385px;
    width: 100%;
}

.xl__input-label {
	font-size: 14px;
	margin-bottom: 4px;
	display: block;
}

.xl__form-group {
	position: relative;
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
}

.xl__input-group {
	position: relative;
	display: block;
	clear: both;
	overflow: hidden;
	width: 100%;

	&.has--images {
		.xl__input {
			padding-right: 86px;
			background-image: url('/assets/images/list.svg');
			background-repeat: no-repeat;
			background-position: calc(100% - 56px) 0;
		}
	}

	.xl__input {
		position: relative;
		display: block;
		appearance: none;
		border: 2px solid #efefef;
		outline: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 15px 16px;
		font-size: 14px;
		margin: 0;
		transition: all .2s ease-in-out;

		&.state--prepaid {
			&:focus {
				border: 2px solid #164396;
			}
		}

		&.state--postpaid {
			&:focus {
				border: 2px solid #000007;
			}
		}

		&.state--error {
			border: 2px solid #C40D42;
		}

		&.state--otp {
			letter-spacing: calc(16.6vw - 32px);
			background-color: #fff;
		}

		&[disabled] {
			background-color: #dedede;
			cursor: not-allowed;
		}

		&:focus ~ .xl__input-focus {
			position: absolute;
			top: 1px;
			z-index: 20;
			left: 16px;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				// top: 20px;
				// top: 1px;
				// left: 11px;
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid $_input-focus;
			}
		}
	}

	.xl__input-prefix {
		position: absolute;
		top: 17px;
		left: 16px;
	}

	.arrow__focus {
		position: absolute;
		content: ' ';
		display: block;
		top: 2px;
		left: 16px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #164396;
		visibility: hidden;

		&.state--postpaid {
			border-top: 5px solid #000007;
		}

		&.state--error {
			border-top: 5px solid #C40D42;
		}

		&.visible {
			visibility: visible;
		}
	}

	.xl__input-img {
		position: absolute;
		top: 5px;
		width: 40px;
		height: 40px;
		right: 16px;
		cursor: pointer;
		text-align: center;

		img {
			width: 24px;
			margin-top: 8px;
			height: 24px;
		}

	}

	.xl__input-error {
		background-color: #C40D42;
		color: #fff;
		box-sizing: border-box;

		p {
			margin: 0;
			padding: 0;
			font-size: 12px;
			padding: 6px 16px;
		}
	}
}

.xl__radio-group {
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;

	.xl__radio {
		position: relative;
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		padding: 16px;
		background-color: $_clr-white;
		border-radius: 3px;
		margin: 8px 0;

		input[type=radio] {
			margin-left: 3px;
		}

		.info {
			margin: 0;
			font-size: 12px;
		}
	}
}

.xl__select {
	appearance: none;
	display: block;
	border: 2px solid #efefef;
	outline: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 20px 36px 20px 16px;
	font-size: 14px;
	margin: 0;
	transition: all .2s ease-in-out;
	background-image: url('/assets/icon/chevron-down.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 8px) 50%;
	background-size: 24px 24px;
}

.xl-radio-container {
	display: block;
	position: relative;
	// padding-left: 35px;
	// margin-bottom: 16px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Hide the browser's default radio button */
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked {
			background-color: var(--primary-one);
		}
	}

	/* Create a custom radio button */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		border: 2px solid var(--primary-two);

		&:after {
			content: "";
			position: absolute;
			display: none;
		}

		&.minus-top{
			top: -0.4em ;
		}
	}

	input:checked ~ .checkmark {
		background-color: #ffffff;
	}

	input:disabled ~ .checkmark {
		background-color: #FFF;
		border: 2px solid #FFF;
	}

	input:checked ~ .checkmark:after {
		display: block;
		top: 2px;
		left: 2px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: var(--primary-one);
	}
}

.xl-check-container {
	display: flex;
	position: relative;
	// padding-left: 35px;
	// margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked {
			background-color: var(--primary-two);
		}
	}

	/* Create a custom checkbox */
	.checkmark {
		display: inline-block;
		height: 16px;
		width: 16px;
		background-color: #FFF;
		border: 2px solid var(--primary-two);
		border-radius: 15%;

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}

	input:checked ~ .checkmark {
		background-color: var(--primary-two);
		border-radius: 15%;
	}

	input:checked ~ .checkmark:after {
		display: block;
		left: 5px;
		top: 2px;
		width: 3px;
		height: 6px;
		border: solid #FFFFFF;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.checkbox-label {
		display: inline-block;
		margin: 0 8px;
	}
}
