$assetPath : "/assets/images";

:root{	
	.blue-theme{	
		--primary-one: #00D2A0;
		--primary-one_hover: #33DBB3; 
		--primary-one_focus: #00C797;
		--primary-two: #164396;

		--background: #F2F2F2;

		// --background: black;
		// --primary-one: #CCAC50;
		// --primary-one_hover: #D6BC73;
		// --primary-one_focus: #C1A34B;
		// --primary-two: #000007;

		--input-focus: #164396;

		--primary-disable: #CCCCCD;

		--secondary-universal-denim:#6689AB;
		--secondary-universal-gold:#FDB934;
		--secondary-universal-green:#B3D335;
		--secondary-universal-grey:#63717A;
		--secondary-universal-magenta:#EE3E80;
		--secondary-universal-orange:#F7941E;
		--secondary-universal-peach:#F26664;
		--secondary-universal-purple:#7B1B67;
		--secondary-universal-red-orange:#F15A22;
		--secondary-universal-silver:#BADAD3;
		--secondary-universal-turquoise:#19BECF;

		--neutral-universal-white:#FFFFFF;
		--neutral-universal-black:#000007;
		--neutral-universal-black-80:rgba(0,0,7,0.8);
		--neutral-universal-black-60:rgba(0,0,7,0.6);
		--neutral-universal-black-40:rgba(0,0,7,0.4);
		--neutral-universal-black-20:rgba(0,0,7,0.2);
		--neutral-universal-black-5:rgba(0,0,7,0.05);

		--input-error-focus: #C40D42;
		--input-error-focus_hover: #CF3D67;
		--input-error-focus_focus: #BA0C3E;

		--text-color: #333339;
		--text_disabled-color: #99999C;

		--default_background: #f2f2f2;
		--ribbonBckg:  #1AC8DA;

		--green_alert: #B3D335;
		--orange_alert: #FDB934;
		--red_alert: #C40D42;
		--red_warning: #D0021B;

		--green_to_yellow: linear-gradient(to right, #72BF43 0%,#E0DC00 100%);
		--green_to_yellow_left: #72BF43;
		--green_to_yellow_center: #AACE22;
		--green_to_yellow_right: #E0DC00;
		--pink_to_orange: linear-gradient(to right, #EE3E7E 0%,#F15922 100%);
		--pink_to_orange_left: #EE3E7E;
		--pink_to_orange_center: #EF4B50;
		--pink_to_orange_right: #F15922;
		--pink_to_blue: linear-gradient(to right,#EE3E80 0%,#164396 100%);
		--pink_to_blue_left: #EE3E80;
		--pink_to_blue_center: #82408B;
		--pink_to_blue_right: #164396;
		--yellow_to_orange: linear-gradient(to right, #FDB934 0%,#F7941E 100%);
		--yellow_to_orange_left: #FDB934;
		--yellow_to_orange_center: #FAA729;
		--yellow_to_orange_right: #F7941E;
		--blue_to_green: linear-gradient(to right, #00AEEF 0%, #64C5B6 100%);
		--blue_to_green_left: #00AEEF;
		--blue_to_green_center: #32B9D2;
		--blue_to_green_right: #64C5B6;
		--axiata_gold_compound_1: #998753;
		--XL_royal_blue_compound_1:#536C99;
		--XL_Bright_Turquoise_Compound_1:#539988;
		--Axiata_Red_Compound_1: #995368;

		--viewall: #164396;

		--border-color: #00D2A0;
		--package-color: var(--primary-two);

		--slant-gradient: linear-gradient(to bottom, #1c4e9c 42%, #2d2770 100%);
		--slant-overlay: #164396;
		--slant-overlay-mid: rgba(22, 67, 150, 0);
		--slant-pattern: url(#{$assetPath}/Pattern_Prepaid.png);

		.xl__navigation-wrapper{
			background: rgb(9,9,121);
			background: linear-gradient(176deg, #143C89 0%, #164396 50%, #0C839A 100%);
			background-attachment: scroll;
		}

		// .ion-page{
		// 	background: var(--primary-two);
		// }

		.svg-icon{
			width: 1.8em;
			height: 1.8em;
			.base{
				fill:var(--primary-two);
			}
			.accent{
				fill: var(--primary-one)
			}
		}

		.svg-theme{
			.base{
				fill:var(--primary-two);
			}
			.accent{
				fill: var(--primary-one)
			}
		}

		ion-refresher{
			background: var(--primary-two);
			height: 50%;
		}

		ion-content{
			--background: var(--default_background);
		}
	// 	.slant-menu-pattern{	
	// 		@include slantContainer(250px);
	// 		@include slantWithImageBelow (-5px, 30px, --primary-two, "blue-menu-pattern.svg");
	// 	}
	}
}
	