<span [hidden]="activeLang !== 'en'">
	<xl-button [id]="'lang_btn_en_on'" [btnSmall]="true" (click)="changeLanguage('en')" [styleClass]="{ 'btn--lang': true, 'btn--left': true, 'active': true }">EN</xl-button>
</span>

<span [hidden]="activeLang === 'en'">
	<xl-button [id]="'lang_btn_en_off'" [btnSmall]="true" (click)="changeLanguage('en')" [styleClass]="{ 'btn--lang': true, 'btn--left': true, 'active': false }">EN</xl-button>
</span>

<span [hidden]="activeLang !== 'id'">
	<xl-button [id]="'lang_btn_id_on'" [btnSmall]="true" (click)="changeLanguage('id')" [styleClass]="{ 'btn--lang': true, 'btn--right': true, 'active': true }">ID</xl-button>
</span>

<span [hidden]="activeLang === 'id'">
	<xl-button [id]="'lang_btn_id_off'" [btnSmall]="true" (click)="changeLanguage('id')" [styleClass]="{ 'btn--lang': true, 'btn--right': true, 'active': false }">ID</xl-button>
</span>
