// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import './base/var-black';
@import './base/var-blue';
@import './base/font';

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** custom **/
  --ion-white: #ffffff;
  --ion-black: #333339;
  --ion-gray: #7F8897;
  --ion-red-warning:#C40D42;
  --ion-yellow-warning:#FDB934;

  // --ion-font-family: 'FSJoey-Heavy';

  // .blue-theme{
  //   --ion-color-utama:  blue;
  // }
  // .black-theme{
  //   --ion-color-utama: red;
  // }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

// ion-toolbar {
//   --background: transparent;
//   --ion-color-base: transparent !important;
// }

ion-content{
// --background: rgba(0,0,7,0.05);
font-size: 14px;
}

$margin__px-xs: 5px;
$margin__px-sm: 10px;
$margin__px-md: 20px;
$margin__px-lg: 30px;
$margin__px-xl: 42px;

$_input-focus: #164396;
$_input-error-focus: #C40D42;
$_input-error-focus_hover: #CF3D67;
$_input-error-focus_focus: #BA0C3E;

$_primary-disable: #CCCCCD;

$_clr-white: #fff;
$_text-color: #333339;
$_text_disabled-color: #99999C;

body, p, div, button, span, label, li{
  font-family: 'MuseoSans300';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'FSJoey';
}

.navbar{
  position: sticky;
  top: 0;
}

.blue{
  background-color: #164396;
  color: #fff;
}

.section-title{
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

// warning color
.red--warning{
  color: var(--ion-red-warning) !important;
}

.yellow--warning{
  color: var(--ion-yellow-warning) !important;
}

.pull--50{
  margin-top: 50px;
}

.pull--100{
  margin-top: 100px;
}

.bold {
	font-weight: bold;
}

.align--right {
  text-align: right;
  vertical-align: right;
}

.align--left {
  text-align: left;
  vertical-align: left;
}

.align--mid {
  text-align: center !important;
  vertical-align: center !important;
}

.wrapper--linear-gray{
  padding: 17px 20px;
	// background: linear-gradient(163deg, rgba(216,216,216,0.8) 0%, rgba(242,242,242,0) 22%);
	background: linear-gradient(163deg, rgba(216,216,216,0.8) 30px, rgba(242,242,242,0) 110px);
}

.wrapper--linear-gray-sm{
  padding: 17px 20px;
  background: linear-gradient(163deg, rgba(216,216,216,0.8) 20px, rgba(242,242,242,0) 80px);
  .no-padding{
    padding: 0px;
  }
}

.wrapper--linear-gray-md{
  padding: 17px 20px;
	background: linear-gradient(163deg, rgba(216,216,216,0.2) 30px, rgba(242,242,242,0) 110px);
}

.wrapper--no-bg{
  padding: 17px 20px;
	// background: linear-gradient(163deg, rgba(216,216,216,1) 0%, rgba(242,242,242,0) 22%);
}

.loading-svg{
  width: 100%;
  height:15%;
  
  vertical-align: center;
  font-size: 50px;
  margin: 10% auto;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-btm-8 {
  margin-bottom: 8px !important;
}

.margin-btm-16 {
  margin-bottom: 16px !important;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-tb-8 {
  padding: 8px 0;
}

.padding-16 {
  padding: 16px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.separator {
  border-top: 1px solid rgba(0, 0, 7, 0.05);
}

.small-size{
  width:1.4em;
  height:1.4em
}
.med-size{
  width:1.6em;
  height:1.6em
}
.large-size{
  width:1.8em;
  height:1.8em
}
.fixed-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.disabled {
  background: $_primary-disable !important;
}

.font-AxiataBold{
  font-family: 'AxiataBold';
}

.font-AxiataBook{
  font-family: 'AxiataBook';
}

.font-Museo700{
  font-family: 'MuseoSans700'
}

.font-Museo500{
  font-family: 'MuseoSans500'
}

.font-Museo300{
  font-family: 'MuseoSans300'
}

// body {
//   background-color: var(--ion-color-primary);
// }
// ion-app {
//   margin-top: env(safe-area-inset-top);
//   margin-bottom: env(safe-area-inset-bottom)
// }
