<ion-content fullscreen>
	<div class="outer bg--login">
		&nbsp;
  </div>
	<section class="container">
		<div class="grid__row">
			<div class="grid mg--bot-xl">
				<h1 class="clr--white font-AxiataBold">{{'login.title' | translate}}</h1>
			</div>
		</div>

	
    <form [formGroup]="form" autocomplete="off">
        <div class="xl__form-group">
          <label class="xl__input-label clr--white font-AxiataBook">{{'login.welcomeMessage' | translate}}</label>
  
          <div class="xl__input-group">
  
            <input class="xl__input state--prepaid font-AxiataBook" [id]="'login_input_username'"
              type="email"
              [placeholder]="'login.userPlaceholder' | translate"
              (blur)="checkAuthenticationType($event)"
              [class.state--error]="errors.username"
              formControlName="username"
              (keydown.enter)="checkAuthenticationType($event)"
              (focus)="checkbusy = false;"
            />
  
            <span class="xl__input-focus"></span>
  
            <!-- <div class="xl__input-error" *ngIf="errors.username">
              <p [id]="'login_err_username'" class="font-AxiataBook" [innerHTML]="errors.username"></p>
            </div> -->
          </div>
        </div>
  
       
      </form>
  </section>
  
</ion-content>


<ion-footer no-border >
    <section class="container">
        <div class="grid__row item--stacked" style="margin-bottom: 20px">
          <div class="grid w--75">
            <!-- <p class="font-AxiataBook">{{'login.manage' | translate}}<br /><a [id]="'login_link_create_acc'" class="no--underline" href="javascript:void(0)" [routerLink]="'/login/signup'">{{'login.createAccount' | translate}}</a></p> -->
          </div>
    
          <div class="grid w--25 flex--align-right">
            <xl-language-switcher></xl-language-switcher>
          </div>
        </div>
      </section>
    <xl-button  *ngIf="isValid" [id]="'login_btn_email'" state="prepaid" [btnFull]="true" btnColor="orange"
    (click)="emailLogin()">{{'login.buttonLogin'|translate}}</xl-button>
</ion-footer> 

<!-- <ion-footer no-border *ngIf="!hideFooter && !showOTP">
	<section class="container">
		<div class="grid__row item--stacked">
			<div class="grid w--75">
				<p class="font-AxiataBook">{{'login.manage' | translate}}<br /><a [id]="'login_link_create_acc'" class="no--underline" href="javascript:void(0)" [routerLink]="'/login/signup'">{{'login.createAccount' | translate}}</a></p>
			</div>

			<div class="grid w--25 flex--align-right">

			</div>
		</div>
	</section>

</ion-footer> -->
