<ion-app>
  <ion-router-outlet>
      <xl-modal [isVisible]="isVisible" [type]="popupType" [title]="popupTitle"
      [subtitle]="popupSubtitle" [buttonOneText]="popupButtonOneText" [buttonOneCallback]="popupButtonOneAction"
      [buttonTwoText]="popupButtonTwoText" [buttonTwoCallback]="popupButtonTwoAction"
      (onClose)="handleOnClose2($event)" [redButton]='popupRedButton'>
    </xl-modal>
  </ion-router-outlet>
</ion-app>
