@mixin vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xl-accordion {
    @include vertical-center;
    width: 100%;
    background-color: #FFFFFF;
    color: #333339;
    font-size: 14px;
    line-height: 18px;
    padding: 16px;
    position: relative;

    .accor-text {
        width: 100%;
    }

    .accor-icon {
        width: 24px;
        height: 24px;
        background-size: 24px;

        &.open {
            transform: rotate(180deg);
        }

        // &.got-value{
        //     transform: rotate(180deg);
        //     svg{
        //         .accent{
        //             fill: var(--primary-two)
        //         }
        //     }
        // }

        &.left {
            margin-right: 11px;
        }
    }

    .xl-select-item {
        position: absolute;
        top: 8px;
        left: 0;
        height: 200px;
    }

    svg {
        .base{
            fill: var(--primary-two)
        }
        .accent{
            fill: var(--primary-one)
        }
    }
}

.wrapper--linear-gray {
    &.accor {
        padding: 0;
        background-color: #FFFFFF;
    }

    &.white {
        background: #FFFFFF;
    }

    .xl-accordion-content {
        @include vertical-center;
        padding: 16px;
        color: #333339;
        // font-family: "Museo Sans";
        font-size: 14px;

        .left {
            width: 50%;
        }

        .right {
            font-weight: bold;
            text-align: right;
            width: 50%;
        }
        
        p {
            margin: 0 !important;
        }
    }
}