@import '../variables.scss';

.card__list {
	position: relative;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 16px;
	background-color: $_clr-white;
	border-radius: 3px;
	margin: 4px 0;

	&.has--action {
		cursor: pointer;
	}

	&.padding--sm {
		padding: 10px 16px;
	}

	&.padding--xs {
		padding: 10px 4px;
	}

	&.no--padding-side {
		padding-left: 0;
		padding-right: 0;
	}

	&.no--margin-bottom {
		margin-bottom: 0;
	}

	&.margin--bot-6px {
		margin-bottom: 6px;
	}

	&.margin--bot-sm {
		margin-bottom: 8px;
	}

	&.actionable {
		cursor: pointer;
	}

	.card__list-content {
		position: relative;
		width: 50%;
		float: left;
		overflow: hidden;
		vertical-align: middle;

		&.width--full {
			width: 100%;
			float: none;
		}

		&.add--margin-sm {
			margin-bottom: 13px;
		}

		&.add--margin-xs {
			margin-bottom: 6px;
		}

		.card-icon {
			position: relative;
			float: left;
			width: 40px;
			height: 40px;
			text-align: center;
			vertical-align: middle;

			img {
				width: 24px;
				margin-top: 12px;

				&.margin--sm {
					margin-top: 9px;
				}
			}

			&.circle--image {
				width: 48px;
				height: 48px;
				border-radius: 100%;
				overflow: hidden;

				img {
					position: absolute;
					margin-top: 0;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}

			&.add--margin-sm {
				margin-top: 15px;
				margin-right: 15px;
			}
		}

		.headline {
			font-size: 14px;
			margin: 0;

			&.no--margin, .no--margin-top {
				margin-top: 0;
			}
		}

		.subheadline {
			font-size: 12px;
			margin: 0;

			&.clr--red {
				color: $_input-error-focus;
			}

			&.clr--blue {
				color: $_input-focus;
			}
		}

		.headline, .subheadline {
			margin-top: 5.5px;

			&.no--margin-top {
				margin-top: 0;
			}

			&.half-margin-top{
				margin-top: 2.5px;
			}
		}

		&.inactive {
			.headline, .subheadline {
				color: #b8b8b8;
			}
		}

		h3.info {
			font-size: 16px;
			margin: 0;
			text-transform: uppercase;

			&.clr--red {
				color: $_input-error-focus;
			}
		}
	}

	.card__list-action {
		position: relative;
		float: right;
		width: 50%;
		overflow: hidden;
		text-align: right;
		vertical-align: middle;

		h3 {
			font-size: 16px;
			margin: 0;
			text-transform: uppercase;
			margin-top: 10.5px;
		}
	}
}
