@import '../variables.scss';

.add--shadow {
	box-shadow: 0 -2px 3px 1px rgba(0,0,0,0.055);
}

.container {
	position: relative;
	display: block;
	padding: 0 20px;
	overflow: hidden;
	box-sizing: border-box;

	&.has--header {
		margin-top: 20px;
	}

	&.no--padding {
		padding: 0;
	}
}

.clearfix {
	clear: both;
}

.grid__row {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	overflow: visible;

	&.add--margin-sm {
		margin: 15px auto;
	}

	&.add--margin-top-xl {
		margin-top: 20%;
	}

	&.add--margin-16px {
		margin-bottom: 16px;
	}

	&.border--bottom {
		border-bottom: 1px solid #efefef;
		padding-bottom: 10px;
		margin-bottom: 6px;
	}

	.grid {
		flex: 0 1 auto;
		position: relative;

		@for $i from 1 through 100  {
			&.w--#{$i} {
				flex: 0 1 round(percentage($i/100));;
			}
		}


		&.flex--align-right {
			display: flex;
			flex-direction: row-reverse;
		}

		&.mg--bot-xs {
			margin-bottom: $margin__px-xs;
		}

		&.mg--bot-sm {
			margin-bottom: $margin__px-sm;
		}

		&.mg--bot-xl {
			margin-bottom: $margin__px-xl;
		}

		&.align--center {
			text-align: center;
		}

		&.items--center{
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.bold {
			* {
				font-weight: 400;
			}
		}
	}

	&.item--stacked {
		flex-wrap: nowrap;
	}
}
