.image {
	&.size--sm {
		height: 210px;
	}
}

.image-wrapper {
	position: relative;
	display: block;
	overflow: visible;

	&.type--uploader {
		width: 108px;
		height: 118px;
		margin: 0 auto;
	}

	.image__additional-icon {
		background-color: #fff;
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		text-align: center;
		bottom: -5px;
		right: 5px;

		img {
			width: 24px;
			margin-top: 8px;
			margin-left: 0px;
		}
	}

	.image {
		&.type--uploader {
			position: relative;
			width: 108px;
			height: 108px;
			display: block;
			border-radius: 100%;
			overflow: hidden;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
}

.cover {
	background-size: cover !important;
}
