// popup modal
.modal-container {
	position: fixed;
	/* Stay in place */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 7, 0.4);
	z-index: 10000000000;
	/* Black w/ opacity */
  }

  .is-blurred {
	filter: blur(10px);
  }

  .modal-content {
	border-radius: 2px;
	background-color: #f2f2f2;
	background-image: url(assets/images/modal-Triangle-shadow.svg);
	background-repeat: no-repeat;
	padding-top: 10px;
	width: calc(100% - 10vw);
	animation: zoomin;
	animation-duration: 0.3s;
  }

  /* Add Animation */

  @-webkit-keyframes zoomin {
	from {
	  transform-origin: center;
	  transform: scale(0.8);
	  opacity: 0
	}
	to {
	  transform-origin: center;
	  transform: scale(1);
	  opacity: 1
	}
  }

  @keyframes zoomin {
	from {
	  transform-origin: center;
	  transform: scale(0.8);
	  opacity: 0
	}
	to {
	  transform-origin: center;
	  transform: scale(1);
	  opacity: 1
	}
  }

  .modal-header,
  .modal-body {
	padding: 10px 15px 0px; // min-height: 50px;
  }

  .modal-button-container {
	padding-top: 10px;
  }

  .no-top-border-radius {
	border-radius: 0px 0px 2px 2px!important;
  }

  .left-button-border-radius {
	border-radius: 0px 0px 0px 2px !important;
  }

  .right-button-border-radius {
	border-radius: 0px 0px 2px !important;
  }

  .no-margin {
	margin: 0px !important;
  }

  .two-action-container {
	display: flex;
	flex-direction: row;
  }
