.outer {
	position: absolute;
	width: 100vw;
	height: 100vh;

	&.bg--login {
		background-image: url('/assets/images/bg_login.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
	}
}
