.bar__progress {
	position: relative;
	display: block;
	overflow: hidden;
	height: 10px;
	border-radius: 8px;
	background-color: rgba(0,0,7,0.2);
	width: 100%;
	margin-top: 10px;

	&.margin--bot-sm {
		margin-bottom: 10px;
	}

	.progress__blue {
		position: relative;
		height: 100%;
		display: block;
		overflow: hidden;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #00AEEF 0%, #64C5B6 100%);
	}

	.progress__yellow {
		position: relative;
		height: 100%;
		display: block;
		overflow: hidden;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #FDB934 0%, #F7941E 100%);
	}

	.progress__red {
		position: relative;
		height: 100%;
		display: block;
		overflow: hidden;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #EE3E7E 0%, #F15922 100%);
	}

	.progress__purple {
		position: relative;
		height: 100%;
		display: block;
		overflow: hidden;
		left: 0;
		top: 0;
		background: linear-gradient(90deg, #EE3E80 0%, #164396 100%);
	}
}
