.section__group {
	position: relative;
	display: block;
	overflow: hidden;

	&.overflow--visible {
		overflow: visible;
	}

	&.add--margin-top-sm {
		margin-top: 10px;
	}

	h2 {
		&.section__title {
			font-size: 16px;
			margin-bottom: 0;
			font-family: 'MuseoSans700';
		}

	}

	p {
		&.section__subtitle {
			font-size: 12px;
			margin: 2px;

			&.clr--red {
				color: red;
			}

			&.clr--orange {
				color: orange;
			}
		}
	}
}

.overlay__section {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;

	&.clr--transparent {
		background-color: rgba(0, 0, 0, 0.01);
	}
}
