.tab__label {
	position: relative;
	font-size: 14px;
	padding: 10px 0;
	box-sizing: border-box;
	display: block;
	border-bottom: 2px solid transparent;
	margin-bottom: 4px;
	cursor: pointer;

	&.postpaid {
		&.active {
			border-bottom: 2px solid #222;
			font-family: 'MuseoSans500'
		}
	}

	&.active {
		border-bottom: 2px solid #00D2A0;
		font-family: 'MuseoSans500'
	}

	.unread__circle {
		position: relative;
		display: inline-block;
		border-radius: 100%;
		width: 8px;
		height: 8px;
		margin-left: 15px;
		background-color: #C40D42;
		vertical-align: middle;
	}
}
