<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  Loading : 
  <ion-button (click)='testPopup()'>
    Test Popup
  </ion-button>
</ion-content>
