<ion-split-pane>
    <ion-menu contentId='content' side='end' type='overlay' class="custom-menu">
      <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        
        <ion-content>
          <ion-list *ngFor="let page of pages; let i = index">
                  <!-- Standart menu item -->
                  <ion-menu-toggle *ngIf="page.url" auto-hide='false'>
                        <ion-item [routerLink]='page.url' routerDirection='root' [class.active-item]='page.url == selectedPath' routerLinkActive='active'>
                          <ion-icon [name]='page.icon' slot='start'></ion-icon>
                          <ion-label>{{page.title}}</ion-label>
                        </ion-item>
                  </ion-menu-toggle>
                  <!-- Menu item with childern -->
                  <ion-item button *ngIf='page.childern.length > "0"' (click)="openSubMenu(i)"  detail='false'>
                      <ion-icon slot='start' name='arrow-forward' *ngIf="!page.open" ></ion-icon>
                      <ion-icon slot='start' name='arrow-down' *ngIf="page.open"></ion-icon> 
                      <ion-label>{{page.title}}</ion-label>
                  </ion-item>  
              
                  <!-- childern list for clicked item -->
                  <ion-list *ngIf="page.open" >
                    <ion-menu-toggle auto-hide='false'>
                      <ion-item *ngFor="let sub of page.childern" class="sub-item" [routerLink]='sub.url' routerDiretion='root' routerLinkActive='active'>
                          <ion-icon [name]='sub.icon' slot='start'></ion-icon>
                          <ion-label>{{sub.title}}</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ion-list>
                  
  
          </ion-list>
          
        
        </ion-content>
    </ion-menu>
  
    <ion-router-outlet id='content' main>
    </ion-router-outlet>
  </ion-split-pane>
  
  
  